{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
  
<div class="row m-1">
  <div class="col-md-3"></div>
  <div class="col-md-6 m-4">
    <form action="{% url 'account_change_password' %}" method="POST" class="password_change">
        <div class=" text-center">
            <h3 class="navbar-brand" >{% trans "Change Password" %}</h3><br>
        </div>
        {% csrf_token %}
        {{form|crispy}}
        {% if error %}
            <li class="" style="color:red;">{{error}}</li>
            <br>
          {% endif %}
        <button type="submit" name="action" class="btn btn-primary  col-4">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
  </div>
  <div class="col-md-3"></div>
</div>   
{% endblock %}


