{% extends 'base.html' %}

{% block title %}
        Contact Us
{% endblock %}

{% block content %}
<div class="row m-4 text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
                <table class="table table-bordered">
                        <tr>
                            <th class="bg-info">First Name</th>
                            <th class="bg-light">
                                    Youcef
                            </th>
                        </tr>
                        <tr>
                            <th class="bg-info">Last Name</th>
                            <th class="bg-light">
                                    AIDOUN
                            </th>
                        </tr>
                        <tr>
                            <th class="bg-info">Country</th>
                            <th class="bg-light">Algeria</th>
                        </tr>
                        <tr>
                            <th class="bg-info">Email</th>
                            <th class="bg-light">youcefaidoun16@gmail.com</th>
                        <tr>
                            <th class="bg-info">Phone</th>
                            <th class="bg-light">07 94 28 29 66</th>
                        </tr>
                    </table>
        </div>
        <div class="col-md-3"></div>
</div>
{% endblock %}