{% extends 'base.html' %}

{% block title %}
        Home
{% endblock %}


{% block content %}
<div class="container-fluid mt-2 mb-5">
   <div class="row">
     <div class="col">
       <h3 class="heading"> Search Results For
          <span class="text-info">
                  "{{request.GET.search_for}}"
          </span>
       </h3>
     </div>
   </div>
   <div class="row ">
    {% for product in product_results %}
    <div class="col-md-2 mt-1">
        <div class="card" >
            <img src="{{product.image.url}}"
                 class="card-img-top img-fluid rounded float-left">
            <div class="card-body">
                <div class="d-flex justify-content-between"> <span class="font-weight-bold">
                    <a href="{% url 'ecomapp:productdetail' product.slug %}">
                        {{product.title}}
                    </a>
                </span> <span class="font-weight-bold">{{product.selling_price}}DA</span> </div>
                <div class="d-flex align-items-center flex-row">
                    <img src="https://i.imgur.com/e9VnSng.png" width="20">
                    <span class="guarantee">{{product.warranty}}</span> </div>
                <hr>
                <div class="card-body ">
                    <div class="text-right buttons">
                        <a class="btn btn-dark form-control" href="{% url 'ecomapp:addtocart' product.id %}">
                            <span class="oi oi-cart"> Add</span>
                        </a> </div>
                </div>
            </div>

        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}