{% extends 'base.html' %}

{% block title %}
        My Cart
{% endblock %}

{% block content %}
<div class="row m-1">
  <div class="col-md-12">
    <h3 class="navbar-brand">My Cart</h3>
        <table class="table text-center">
          <thead class="thead-light">
            <tr>
              <th scope="col">SN</th>
              <th scope="col">Product</th>
              <th scope="col">Rate</th>
              <th scope="col">Quantity</th>
              <th scope="col">Subtotal</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for cp in mycart.cartproduct_set.all %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td scope="col">{{cp.product.title}}</td>
              <td scope="col">{{cp.rate}}</td>
              <td scope="col">{{cp.quantity}}</td>
              <td scope="col">{{cp.subtotal}}</td>
              <td scope="col text-center">
                <a class=" col-3 btn btn-primary"
                   href="{% url 'ecomapp:managecart' cp.id %}?action=inc"> + </a>
                <a class=" col-3  btn btn-warning"
                   href="{% url 'ecomapp:managecart' cp.id %}?action=dcr"> - </a>
                <a class=" col-3 btn btn-danger"
                   href="{% url 'ecomapp:managecart' cp.id %}?action=rmv"> x </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
          <thead class="thead-light">
            <tr>
              {% if mycart.cartproduct_set.all %}
              <th scope="col" colspan="3">
                <a class="col-10 btn btn-success"
                   href="{% url 'ecomapp:checkout' %}">
                  Checkout
                </a>
              </th>
              <th scope="col">TOTAL :</th>
              <th scope="col">{{mycart.total}}DA</th>
              <th scope="col">
                <a class="col-10 btn btn-danger"
                   href="{% url 'ecomapp:emptycart' %}">
                  Emty Cart
                </a>
              </th>
              </th>
              {% endif %}
            </tr>
          </thead>
        </table>
    </div>
  </div>
{% endblock %}