{% extends 'base.html' %}

{% block title %}
        Categories
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row m-4">
        <div class="col-md-12">
            <h3 class="navbar-brand">Categories</h3>
                {% for category in categories %}
                <div class="list-group-item text-center">
                    <a href="{% url 'ecomapp:category' category.slug %}">
                        {{category.title}}
                    </a>

                </div>
                {% endfor %}
        </div>
        <div class="col-md-12">
               <h3 class="navbar-brand">Products</h3>
                <div class="row ">
                    {% for product in product_pages %}
                    <div class="col-md-3 mt-4">
                        <div class="card bg-dark text-white p-4">
                          <img class="card-img" src="{{product.image.url}}"
                               alt="Card image" style="height: 200px; object-fit:contain;">
                          <div class="card-img-overlay">
                            <a class="card-title" href="{% url 'ecomapp:productdetail' product.slug %}">{{product.title}}</a>
                            <p class="card-text">Last updated 3 mins ago</p>
                          </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        </div>
    </div>
</div>

{% if product_pages.has_other_pages %}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if product_pages.has_previous %}
    <li class="page-item">
      <a class="page-link"
         href="?page={{ product_pages.previous_page_number }}">
          Previous
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link">
          Previous
      </a>
    </li>
    {% endif %}
    {% for page in product_pages.paginator.page_range %}
      {% if product_pages.number == page %}
    <li class="page-item active">
        <a class="page-link">
            {{page}}
        </a>
    </li>
      {% else %}
    <li class="page-item">
        <a class="page-link" href="?page={{page}}">
            {{page}}
        </a>
    </li>
      {% endif %}
    {% endfor %}
    {% if product_pages.has_next %}
    <li class="page-item">
      <a class="page-link"
         href="?page={{ product_pages.next_page_number }}">
          Next
      </a>
    </li>
      {% else %}
    <li class="page-item disabled">
      <a class="page-link">
          Next
      </a>
    </li>
      {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}